@import url("https://fonts.googleapis.com/css?family=Glegoo:700");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500");

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-2 {
    flex-grow: 2;
}


.myLinks:hover{
    background-color: #e98324;
    -webkit-box-shadow:inset 2px 2px 10px 5px rgba(1,1,1,.25);
    box-shadow:inset 2px 2px 10px 5px rgba(1,1,1,.25);

    -webkit-transition: background .5s ease-in-out;
-moz-transition: background .5s ease-in-out;
-ms-transition: background .5s ease-in-out;
-o-transition: background .5s ease-in-out;
transition: background .5s ease-in-out;
    
  }


  .myLinks:active{
    background-color: #9b5310;
    -webkit-box-shadow:inset 2px 2px 10px 5px rgba(1,1,1,.5);
    box-shadow:inset 2px 2px 10px 5px rgba(1,1,1,.5);
  }



